  $primary-color: #d4cdcd; 
  $secondary-color: #160c16;
  $filler-color: #9c1d9c; 

  #hero {
    padding-top: 60px; 
    padding-bottom: 0; 
    background: $primary-color;
    margin: 0; 
  
    .container_inner {
      margin-left: 10%;
      margin-bottom: 0; 
      display: flex;
      align-items: center; 
      gap: 20%;
    }
  
    .admin_info {
      flex-basis: 40%;
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 65px;
        text-transform: uppercase;
        line-height: 1em;
      }
      h5 {
        font: {
          size: 20px;
          weight: bold;
        }
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
  
    .admin_image {
      order: 2;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      #heroImg {
        width: 400px;
        height: auto; 
        display: block; 
      }
    }
  
    .btn-cta {
      background-color: $secondary-color;
      color: $primary-color;
      padding: 12px 20px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: darken($filler-color, 10%);
      }
    }
  }
  